ElWatcher/appsettings.Development.json
.vs/ElWatcher/config/applicationhost.config
.vs/ElWatcher/DesignTimeBuild/.dtbcache.v2
.vs/ElWatcher/FileContentIndex/70eb3812-e329-4469-a07c-45bb251eadca.vsidx
.vs/ElWatcher/FileContentIndex/ddbb0fdb-b3b5-49b9-aca2-b4e5ebe77084.vsidx
.vs/ElWatcher/v18/.suo
.vs/ElWatcher/v18/DocumentLayout.backup.json
.vs/ElWatcher/v18/DocumentLayout.json
